@import "tailwindcss";

@theme {
    --font-Cormorant-Garamond: "Cormorant Garamond", sans-serif;
    --font-Inter: "Inter", sans-serif;

    --color-royal-gold: #fae070;
    --color-grey-text: #c2c2c2;
    --color-emerald: #15623C;
}


body {
    font-family: Inter, sans-serif;
}